# Ambiente
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Termux / Android específico
.termux-session
